In [1]:
#Functions in Python
def my_function():
    print("Hello Nandini")

my_function()
my_function()
my_function()

Hello Nandini
Hello Nandini
Hello Nandini

In [5]:
#with Agrument
def my_function(name):
    print("I am working on ",name)

my_function("Jupyter Notebook")

I am working on  Jupyter Notebook

In [6]:
#with Return Statement
def my_function(name):
    return name

name = my_function("Nandini")
print(name)

Nandini

In [7]:
#with multiple Return statements
def my_function():
    name = "Nandini"
    contact = 9879944235
    return name,contact

name,contact = my_function()
print("Name :",name)
print("Contact :",contact)

Name : Nandini
Contact : 9879944235

In [8]:
#with default agruments
def sum(a=5,b=6):
    print(a+b)
    
sum(10,20)
sum()

30
11

In [9]:
#keyword agruments
def sum(a,b):
    print("sum is :",a+b)
sum(b=10,a=20)

sum is : 30

In [14]:
#non keyword arguments
def add(*num):
    sum=0
    for n in num:
        sum = sum+n
    print("Sum :",sum)
add(10,20)
add(10,20,30)

Sum : 30
Sum : 60

In [15]:
#keyword arguments
def my_fun(**arg):
    for i,j in arg.items():
        print(i,j)
        
my_fun(Name="Nandini", Lastname="Patel")

Name Nandini
Lastname Patel

In [16]:
#scope of variables
def my_fun():
    x = 10
    print("value inside function : ",x)
x =20
my_fun()
print("value outside function : ",x)

value inside function :  10
value outside function :  20

In [17]:
#Arithmetic Operators
x = 10
y = 6
print("x + y =",x+y)
print("x - y =",x-y)
print("x * y =",x*y)
print("x / y =",x/y)
print("x // y =",x//y)
print("x ** y =",x**y)

x + y = 16
x - y = 4
x * y = 60
x / y = 1.6666666666666667
x // y = 1
x ** y = 1000000

In [18]:
#Comparision operators
x = 10
y = 6
print("x > y is",x>y)
print("x < y is",x<y)
print("x == y is",x==y)
print("x != y is",x!=y)
print("x >= y is",x>=y)
print("x <= y is",x<=y)

x > y is True
x < y is False
x == y is False
x != y is True
x >= y is True
x <= y is False

In [19]:
#Logical Operators
#using and operators
n1=10
n2=20
n3=30
if(n1>n2) and (n1>n3):
    print(n1,"is largest")
if(n2>n1) and (n2>n3):
    print(n2,"is largest")
else:
    print(n3,"is largest")

30 is largest

In [21]:
#Logical Operators
#or and operators
ch = input("Enter a character :")
if(ch=="A" or ch=="E" or ch=="I" or ch=="O" or ch=="U" or
  ch=="a" or ch=="e" or ch=="i" or ch=="o" or ch=="u" ):
    print(ch, "is a vowel")
else:
    print(ch,"is a consonant")

Enter a character :a
a is a vowel

In [22]:
#membership operators
x = 10
y = 6
l1 = [10,20,30,40,50]
print(x in l1)
print(y in l1)
print (y not in l1)

True
False
True

In [26]:
#identity operators
x = 20
y = 20
print(x is y)
print(x is not y)

True
False