In [15]:
#Comments in python
#This is a single line comments

In [5]:
#Variables in Python
a=10
b=10.5
c="nandini"

In [7]:
print(a)
type(a)

10

int

In [8]:
print(b)
type(b)

10.5

float

In [9]:
print(c)
type(c)

nandini

str

In [11]:
#Changing the value of Variable in Python
name="nandini"
print(name)

name="nandini patel"
print(name)

nandini
nandini patel

In [12]:
#Assigning multiple values to multiple variables in python
a, b, c = 10, 10.5, "hello"

print(a)
print(b)
print(c)

10
10.5
hello

In [13]:
#Assign the same value to multiple variable in python
a = b = c = 10

print("value of a is :" ,a)
print("value of a is :" ,b)
print("value of a is :" ,c)

value of a is : 10
value of a is : 10
value of a is : 10

In [14]:
#Data types in python
n1=10
n2=10.5
n3=1+2j

print(n1, "is", type(n1))
print(n2, "is", type(n2))
print(n3, "is", type(n3))

10 is <class 'int'>
10.5 is <class 'float'>
(1+2j) is <class 'complex'>

In [17]:
#string in python
name = "nandini patel"
print(name)

#prints first character of string
print(name[0])

#prints character starting from 3rd to 5th
print(name[2:5])

#print character from 3rd
print(name[2:])

#print character 2 times
print(name *2)

#concatenated string
print("Hello! " + name)

nandini patel
n
ndi
ndini patel
nandini patelnandini patel
Hello! nandini patel

In [18]:
#Lists
l1 = [10, 10.5, 'nandini']
print(l1)

[10, 10.5, 'nandini']

In [19]:
l2 = [10, 20, 30, 'nandini', 40, 50, 'hello', 60]
print(l2)

print(l2[2])
print(l2[0:3])
print(l2[3:])

[10, 20, 30, 'nandini', 40, 50, 'hello', 60]
30
[10, 20, 30]
['nandini', 40, 50, 'hello', 60]

In [20]:
#Tuple
t1 = (10, 10.5, 'nandini')
print(t1)

(10, 10.5, 'nandini')

In [26]:
t2 = (10 , 20, 30, 'nandini', 40, 50,'hello', 60)
print(t2)

print(t2[2])
print(t2[0:3])
print(t2[3:])

(10, 20, 30, 'nandini', 40, 50, 'hello', 60)
30
(10, 20, 30)
('nandini', 40, 50, 'hello', 60)

In [24]:
#Dictionary 
d1 = {1:'nandini', 2:'patel','hello':771}
print(type(d1))

<class 'dict'>

In [25]:
print(d1[1])
print(d1[2])
print(d1['hello'])

nandini
patel
771